{% load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio </title>
    
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss">Hi, I'm</h6>
                <h1 class="t-white">Surbhi Rana</h1>
                <h4 class="poppinss">Software Engineer</h4>
                <a href="{% static 'pdf/surbhi_resume2.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>
                    
                <a class="btn live poppins" id="hireme" href="#Contact"
                    target="_blank">Let's Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/myimg.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/dog.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins">Surbhi</h1>
                    <p class="t-white poppins">Hi, I’m Surbhi, a B.Tech student in Computer Science & Engineering. I’m a fresher, but I’m deeply passionate about building meaningful tech — products that actually solve real problems and improve user experience. I enjoy learning new tools, experimenting with different technologies, and constantly pushing myself to create better solutions. While I’m comfortable with various parts of the development process, what I enjoy most is building — bringing ideas to life and making them work. It’s the part that challenges me, drives me, and reminds me why I chose this field.</p>
                    <a class="btn " id="hireme"
                        href="">Hire Me</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/pro.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="java bar p-relative"><span class="bar-content left t-white"> Python</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="html bar p-relative"><span class="bar-content left t-white">HTML</span><span
                        class="bar-content right-skills t-white">90%</span></div>
                <div class="css bar p-relative"><span class="bar-content left t-white">CSS</span><span
                        class="bar-content right-skills t-white">80%</span></div>
                <div class="js bar p-relative"><span class="bar-content left t-white">Django</span><span
                        class="bar-content right-skills t-white">70%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-white">Cpp</span><span
                        class="bar-content right-skills t-white">85%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-white">MySQL</span><span
                        class="bar-content right-skills t-white">80%</span></div>        
            </div>
        </div>
        </div>
    </section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">RightSavvy</h1>
                <p class="t-white poppins"> RightSavvy is a web-based platform developed using Django, featuring a chatbot powered by GenAI. It allows users to ask questions and clear doubts related to their legal and social rights in an easy and interactive way. The site aims to spread awareness by offering accurate and helpful information through a simple and user-friendly interface.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ranasurbhi/rightsavvy1.git "
                        target="_blanks" class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">My Portfolio</h1>
                <p class="t-white poppins">This is My portfolio website which is created with HTML,CSS and Javascript which describe my skill and knowledge.My portfolio website showcases my work in a sleek and minimalist design, allowing the focus to be on the content itself. The layout is uncluttered, making it easy for visitors to navigate and explore my projects.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ranasurbhi/portfolio.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    <a href="https://portfoliorana.vercel.app/" target="_blanks" class="btn m-top live">Live
                        Link</a>
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Electric Vehicle Data Analysis</h1>
                <p class="t-white poppins">Analyzed EV registration data (mostly from Washington) to identify market trends, growth patterns, and regional adoption. The project includes complete data cleaning, preprocessing, and a detailed report with clear visual insights. Tools used: Python, Pandas, Matplotlib, Seaborn.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ranasurbhi/Bootcamp-Project.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">ResuMate</h1>
                <p class="t-white poppins">A resume-building website where users can enter their details, preview their resume in real-time, and download it. The site also uses GenAI to calculate an ATS (Applicant Tracking System) score based on the selected job profile, helping users tailor their resumes for better job match.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ranasurbhi/Resumate.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Fraud Detection using LLM and RAG</h1>
                <p class="t-white poppins">An AI-powered system that uses Large Language Models (LLM) and Retrieval-Augmented Generation (RAG) to analyze financial statements for potential fraud. The model retrieves relevant financial data and generates detailed explanations, making fraud detection smarter and more reliable. Ideal for auditors and financial institutions seeking deeper insights.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ranasurbhi/finantial_fraud_detection.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Custom Gesture-Controlled Virtual Mouse</h1>
                <p class="t-white poppins">A computer vision-based project that uses hand gestures to control mouse movements and actions. Unlike traditional virtual mouse systems, this version allows users to customize which gesture performs which task—like left click, right click, scroll, or drag—making the experience more intuitive and user-friendly. Built using OpenCV and Python with real-time hand tracking.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ranasurbhi/virtual_mouse.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Nostalgia Chronicles</h1>
                <p class="t-white poppins">Nostalgia Chronicles is a website designed to revive cherished memories by letting users explore content from the past. Users can select a category—like music, movies, trends, or events—and choose a specific year to view nostalgic content from that time. It's a digital time machine that brings back the vibes of the good old days in a fun and interactive way.</p>
                <div class="buttons flex s-around">
                    <a href="https://github.com/ranasurbhi/pblproject.git" target="_blanks"
                        class="btn mx-1 m-top">GitHub</a>
                    {% comment %} <a href="#" target="_blanks" class="btn m-top live">Live
                        Link</a> {% endcomment %}
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/rana-surbhi/" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/ranasurbhi" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            {% comment %} </a>
                <a href="" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a> {% endcomment %}
            
        </ul>
        {% comment %} <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Error By Night 
                </span></p> {% endcomment %}

    </footer>
     
</body> 
</html>
